@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h2,
.communityName{
  font-family: 'Sacramento', cursive;
}

.header{
  background-image: url(./components/images/header.jpg);
  height: 20em;
}

.communityName{
  padding-top: 100px;
  font-size: 6em;
  font-weight: 900;
  color: #0086b3;
  text-shadow:
  -1px -1px 0 #ccc,  
   1px -1px 0 #ccc,
   -1px 1px 0 #ccc,
    1px 1px 0 #ccc;
}

nav{
  width: 100vw;
}

.navbar-brand{
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  padding-right: 75px;
}

.community,
.communityDescription{
  padding-top: 15px;
  width: 80vw;
  margin: auto;
  font-size: 1.25em;
  }

  .communityImage{
    width: 100%;
  }

  h2{
    font-size: 5em;
    font-weight: 600;
  }

  .map{
    width: 100%;
  }

  .unitDescriptions{
    width: 90vw;
    margin: auto;
  }

  button{
    padding-right: 15px;
    margin-left: 15px;
  }

  .nav-item{
    margin-right: 125px;
  }

  .bottomButtons{
    margin-left: 25vw;
    font-size: 2em;
    margin-top: 15px;
    margin-right: 0px;
  }

  .contact{
    margin-right: 25vw;
  }

  .contact,
  .apply{
    border: 1px solid rgb(0, 134, 179);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }