@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.communityName{
  font-family: 'Sacramento', cursive;
}

.headerImage{
  width: 100vw;
  height: 40vh;
}

.communityName{
  margin-top: -190px;
  font-size: 6em;
  font-weight: 900;
  color: #0086b3;
  text-shadow:
  -1px -1px 0 #ccc,  
   1px -1px 0 #ccc,
   -1px 1px 0 #ccc,
    1px 1px 0 #ccc;
}

nav{
  font-size: 1.5em;
}